.c-image-bio {
  max-width: 500px;
  width: 100%;
  border-radius: $default-border-radius;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

.bio-content__text {
  max-width: 33em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: gutter(2);

  @media only screen and (min-width: 60em) {
    margin-top: gutter(0);
    margin-bottom: gutter(0);
    margin-left: gutter(3);
  }
  @media only screen and (min-width: 80em) {
    margin-left: gutter(3);
  }
}

.bio-content {
  @media only screen and (min-width: 60em) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
}
