.c-event {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 2rem;
}

.c-event:first-child {
  margin-top: 3rem;
}

.c-event + .c-event {
  margin-top: 3rem;
}

.c-event__title {
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
  line-height: 1.2;
}

.c-event__desc {
  line-height: 1.2;
  margin-top: 1rem;
}

.c-event__meta {
  font-size: 0.9rem;
  margin-top: 0.8rem;
  text-transform: uppercase;
  letter-spacing: $default-letter-spacing;

  p {
    line-height: 1.2;
  }
  time {
    font-weight: bold;
  }
}
