.c-page-heading {
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: linear-gradient(
      -180deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.84) 69%,
      #000000 100%
    );
  }

  img {
    display: block;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  h1 {
    position: relative;
    z-index: 9;
  }
}
