.c-press {
  display: flex;
  flex-wrap: wrap;
}

.c-press:first-child {
  margin-top: 3rem;
}

.c-press + .c-press {
  margin-top: 4rem;
}

.c-press__title {
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.2;
}

.c-press__meta {
  text-transform: uppercase;
  letter-spacing: $default-letter-spacing;
  line-height: 1.1;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.c-press__desc {
  line-height: 1.2;
  margin-top: 1.5em;
}

.c-press__cta {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1.5rem;
  letter-spacing: 0.05em;
  display: inline-block;
  margin-right: 0.5rem;
}

.c-press__tags-wrap {
  margin-left: -0.3rem;
  margin-right: -0.3rem;
  margin-top: 1.5rem;

  & > * {
    margin: 0 0.3rem;
  }
}

.c-press__tag {
  display: inline-block;
  background-color: $brand-25;
  padding: 0.15em 0.5em 0.25em;
  line-height: 1;
  border-radius: 20px;
  font-size: 0.9rem;
}

.c-press__tag--square {
  display: inline-block;
  background-color: #444;
  padding: 0.15em 0.5em 0.25em;
  line-height: 1;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.c-press__image {
  border-radius: 0.2rem;
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  @media only screen and (min-width: $break-large) {
    margin-bottom: 0;
  }
}

.c-press__image-wrap,
.c-press__info-wrap {
  width: 100%;

  @media only screen and (min-width: $break-large) {
    width: 50%;
    padding: 1rem;
  }
}
