$brand: #7a4022;
$brand-75: #9b6f59;
$brand-50: #bc9f90;
$brand-25: #ddcfc7;

$accent: #2a5e64;

$dark-text: #281012;

$white: #eee;
$black: #000;

$header-height: 80px;

$base-padding: 20;

$default-letter-spacing: 0.09em;
$default-border-radius: 0.2rem;

$break-small: 450px;
$break-med: 700px;
$break-large: 900px;
$break-xlarge: 1200px;

$break-nav: 650px;

$brand-facebook: #3b5998;
$brand-instagram: #c32aa3;
$brand-youtube: #bb0000;
